/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/UNIT1/WS03operators/BasicOperations/nbproject/private/
/workshops/UNIT1/WS03operators/BasicOperations/build/
/assignments/HW02/NumericPrimitivesShort/nbproject/private/
/assignments/HW02/NumericPrimitivesShort/build/
/assignments/HW02/NumericPrimitivesLong/nbproject/private/
/assignments/HW02/NumericPrimitivesLong/build/
/assignments/HW02/NumericPrimitiveFloat/nbproject/private/
/assignments/HW02/NumericPrimitiveFloat/build/
/assignments/UNIT1/HW02/NumericPrimitivesLong/src/numericprimitiveslong/NumericPrimitivesLong/nbproject/private/
/assignments/UNIT1/HW02/NumericPrimitivesLong/src/numericprimitiveslong/NumericPrimitivesLong/build/
/assignments/UNIT1/HW02/NumericPrimitiveShort/nbproject/private/
/assignments/UNIT1/HW02/NumericPrimitivesLong/src/numericprimitiveslong/build/
/assignments/UNIT1/HW02/NumericPrimitivesLong/src/numericprimitiveslong/nbproject/private/
/assignments/UNIT1/HW02/NumericPrimitivesShort/nbproject/private/
/assignments/UNIT1/HW02/NumericPrimitivesShort/build/
/assignments/UNIT1/HW02/NumericPrimitivesLong/nbproject/private/
/assignments/UNIT1/HW02/NumericPrimitivesLong/build/
/workshops/UNIT1/WS04LogicalOperators/nbproject/private/
/workshops/UNIT1/WS04LogicalOperators/build/
/workshops/UNIT1/WS05Iterations/nbproject/private/
/workshops/UNIT1/WS05Iterations/build/
/workshops/UNIT1/HW03Iterations/nbproject/private/
/workshops/UNIT1/HW03Iterations/build/
/assignments/UNIT1/HW03IterationsOperators/nbproject/private/
/assignments/UNIT1/HW03IterationsOperators/build/
/assignments/UNIT1/WS07Menus/nbproject/private/
/workshops/UNIT1/WS07Menus/nbproject/private/
/workshops/UNIT1/WS07Menus/build/
/assignments/UNIT1/HW04Menus/nbproject/private/
/assignments/UNIT1/HW04Menus/build/
/TEST/TEST PARCIAL 1/nbproject/private/
/EXAMS/UNIT 1/ExamUnit1/nbproject/private/
/EXAMS/UNIT 1/ExamUnit1/build/
/EXAMS/UNIT 1/Exam1Correction/nbproject/private/
/EXAMS/UNIT 1/Exam1Correction/build/
/workshops/UNIT2/WS08dDebugging/nbproject/private/
/workshops/UNIT2/WS08dDebugging/build/
/assignments/UNIT 2/HW05FactorialNumber/nbproject/private/
/assignments/UNIT 2/HW05FactorialNumber/build/
/assignments/UNIT 2/HW09-EmbeddedStructures/nbproject/private/
/assignments/UNIT 2/HW09-EmbeddedStructures/build/
/workshops/UNIT2/WS09Functions/nbproject/private/
/workshops/UNIT2/WS09Functions/build/
/assignments/UNIT2/HW10Functions/nbproject/private/
/assignments/UNIT2/HW10Functions/build/
/assignments/UNIT2/WS11/nbproject/private/
/workshops/UNIT2/WS11/nbproject/private/
/assignments/UNIT2/HW11Recursion/nbproject/private/
/assignments/UNIT2/HW11Recursion/build/
/workshops/UNIT2/WS11/build/
/QGIS-Project1/QGIS-Project/nbproject/private/
/QGIS-Project1/QGIS-Project/build/
/QGIS-Project1/WS12Libraries/nbproject/private/
/QGIS-Project1/WS12Libraries/build/
/workshops/UNIT2/WS12Libraries/nbproject/private/
/workshops/UNIT2/WS12Libraries/build/
/assignments/UNIT2/HW12LibrariesTaxes/nbproject/private/
/assignments/UNIT2/HW12LibrariesTaxes/build/
/assignments/UNIT2/LLLLLL/nbproject/private/
/assignments/UNIT2/LLLL/nbproject/private/
/workshops/UNIT2/WS13-Task/nbproject/private/
/workshops/UNIT2/WS13-Task/build/
/workshops/UNIT2/WS14CarBrands/nbproject/private/
/workshops/UNIT2/WS14CarBrands/build/
/assignments/UNIT2/HW14Arrays/nbproject/private/
/assignments/UNIT2/HW14Arrays/build/
/QUIZES/ArrayQuiz/nbproject/private/
/QUIZES/ArrayQuiz/build/
/workshops/UNIT2/WS15QuizSolution/nbproject/private/
/workshops/UNIT2/WS15QuizSolution/build/
/QUIZES/ArrayQuiz/dist/
/workshops/UNIT2/WS16MatrixAddition/nbproject/private/
/workshops/UNIT2/WS16MatrixAddition/build/
/assignments/UNIT2/HW15MatrixOperation/nbproject/private/
/assignments/UNIT2/HW15MatrixOperation/build/
/workshops/UNIT2/WS17MatrixAdditionAndTransposition/nbproject/private/
/workshops/UNIT2/WS17MatrixAdditionAndTransposition/build/
/assignments/UNIT2/HW16MatrixFunction/nbproject/private/
/assignments/UNIT2/HW16MatrixFunction/build/
/EXAMS/UNIT2/VillalbaAQ11/nbproject/private/
/EXAMS/UNIT2/VillalbaAQ11/build/
/workshops/UNIT3/WS19ArraysInspection/nbproject/private/
/workshops/UNIT3/WS19ArraysInspection/build/
/workshops/UNIT2/WS09Functions/dist/
/workshops/UNIT3/WS21Functions/nbproject/private/
/workshops/UNIT3/WS21Functions/build/
/workshops/UNIT3/WS21Functions/dist/
/workshops/UNIT3/WS22ModularCalculator/nbproject/private/
/workshops/UNIT3/WS22ModularCalculator/build/
/workshops/UNIT3/WS22ModularCalculator/TaxDeclarations/nbproject/private/
/workshops/UNIT3/WS23Library/TaxLibrary/nbproject/private/
/workshops/UNIT3/WS23Library/TaxLibrary/build/
/workshops/UNIT3/WS23Library/TaxLibrary/dist/
/workshops/UNIT3/WS23Library/TaxDeclarations/nbproject/private/
/workshops/UNIT3/WS23Libraries/TaxDeclarations/build/
/assignments/UNIT3/HW17MatrixLibraries/HW17MatrixLibraries/nbproject/private/
/assignments/UNIT3/HW17MatrixLibraries/HW17MatrixLibraries/build/
/assignments/UNIT3/HW17MatrixLibraries/MatrixOperationLibrary/nbproject/private/
/assignments/UNIT3/HW17MatrixLibraries/MatrixOperationLibrary/build/
/assignments/UNIT3/HW17MatrixLibraries/MatrixOperationLibrary/dist/
/assignments/UNIT3/HW17MatrixLibraries/matrixOperationsLibrary/nbproject/private/
/assignments/UNIT3/HW17MatrixLibraries/matrixOperationsLibrary/dist/
/assignments/UNIT3/HW17MatrixLibraries/matrixOperationsLibrary/build/
/workshops/UNIT3/WS24SortingAlgorithms/Sorting/nbproject/private/
/workshops/UNIT3/WS24SortingAlgorithms/Sorting/dist/
/workshops/UNIT3/WS24SortingAlgorithms/Sorting/build/
/assignments/UNIT3/HW18SearchingAlgorithms/nbproject/private/
/assignments/UNIT3/HW18SearchingAlgorithms/build/
/workshops/UNIT3/WS25StringsOperation/italianSoccerTeams/nbproject/private/
/workshops/UNIT3/WS25StringsOperation/italianSoccerTeams/build/
/workshops/UNIT3/WS25StringsOperation/italianSoccerTeams/dist/
/assignments/UNIT3/WH19Searching Form/SearchingForm/nbproject/private/
/assignments/UNIT3/WH19Searching Form/SearchingForm/build/
/workshops/UNIT3/WS25StringsOperation/SortingIntegers/nbproject/private/
/workshops/UNIT3/WS25StringsOperation/SortingIntegers/build/
/workshops/UNIT3/WS25StringsOperation/SortingIntegers/dist/
/assignments/UNIT3/HW20/SortingStrings/nbproject/private/
/assignments/UNIT3/HW20/SortingStrings/build/
/workshops/UNIT3/WS27ADT/nbproject/private/
/workshops/UNIT3/WS27ADT/ConcessionaireSystem/nbproject/private/
/workshops/UNIT3/WS27ADT/ConcessionaireSystem/build/
/assignments/UNIT3/HW21ADT/ConcessionaireSystemHomework/nbproject/private/
/assignments/UNIT3/HW21ADT/ConcessionaireSystemHomework/build/
/assignments/UNIT3/HW21ADT/ConcessionaireSystemHomework/dist/
/EXAMS/UNIT3/ExamFPSportEvent/nbproject/private/