/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/UNIT1/WS03operators/BasicOperations/nbproject/private/
/workshops/UNIT1/WS03operators/BasicOperations/build/
/assignments/HW02/NumericPrimitivesShort/nbproject/private/
/assignments/HW02/NumericPrimitivesShort/build/
/assignments/HW02/NumericPrimitivesLong/nbproject/private/
/assignments/HW02/NumericPrimitivesLong/build/
/assignments/HW02/NumericPrimitiveFloat/nbproject/private/
/assignments/HW02/NumericPrimitiveFloat/build/
/assignments/UNIT1/HW02/NumericPrimitivesLong/src/numericprimitiveslong/NumericPrimitivesLong/nbproject/private/
/assignments/UNIT1/HW02/NumericPrimitivesLong/src/numericprimitiveslong/NumericPrimitivesLong/build/
/assignments/UNIT1/HW02/NumericPrimitiveShort/nbproject/private/
/assignments/UNIT1/HW02/NumericPrimitivesLong/src/numericprimitiveslong/build/
/assignments/UNIT1/HW02/NumericPrimitivesLong/src/numericprimitiveslong/nbproject/private/
/assignments/UNIT1/HW02/NumericPrimitivesShort/nbproject/private/
/assignments/UNIT1/HW02/NumericPrimitivesShort/build/
/assignments/UNIT1/HW02/NumericPrimitivesLong/nbproject/private/
/assignments/UNIT1/HW02/NumericPrimitivesLong/build/
/workshops/UNIT1/WS04LogicalOperators/nbproject/private/
/workshops/UNIT1/WS04LogicalOperators/build/
/workshops/UNIT1/WS05Iterations/nbproject/private/
/workshops/UNIT1/WS05Iterations/build/
/workshops/UNIT1/HW03Iterations/nbproject/private/
/workshops/UNIT1/HW03Iterations/build/
/assignments/UNIT1/HW03IterationsOperators/nbproject/private/
/assignments/UNIT1/HW03IterationsOperators/build/
/assignments/UNIT1/WS07Menus/nbproject/private/
/workshops/UNIT1/WS07Menus/nbproject/private/
/workshops/UNIT1/WS07Menus/build/
/assignments/UNIT1/HW04Menus/nbproject/private/
/assignments/UNIT1/HW04Menus/build/
/TEST/TEST PARCIAL 1/nbproject/private/
/EXAMS/UNIT 1/ExamUnit1/nbproject/private/
/EXAMS/UNIT 1/ExamUnit1/build/
/EXAMS/UNIT 1/Exam1Correction/nbproject/private/
/EXAMS/UNIT 1/Exam1Correction/build/
/workshops/UNIT2/WS08dDebugging/nbproject/private/
/workshops/UNIT2/WS08dDebugging/build/